@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/**
* *******************************
* ページ全体に関わるcssの設定
@charset "UTF-8";
*********************************/
html {
  box-sizing: border-box;
  color: #333;
  font-size: 62.5%;
}
* {
  box-sizing: inherit;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: url(../images/bg.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.4rem;
  line-height: 1.8;
}
@media (min-width: 767px) {
  body {
    font-size: 1.5rem;
    line-height: 2.5;
  }
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

iframe {
  width: 100%;
  border: none;
}

address {
  font-style: normal;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select {
  border: none;
}

.l-header {
  background-color: #fff;
  background-image: url(../images/rapper674.png);
  background-repeat: no-repeat;
  background-position-y: 1rem;
  background-position-x: 1rem;
}
@media (min-width: 767px) {
  .l-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/rapper1011.png);
    background-size: contain;
    background-position-x: 13vw;
    background-position-y: 24vh;
  }
}

.l-header__inner {
  padding: 20vh 30px 80px;
}

.l-about__inner {
  padding: 80px 30px;
  text-align: center;
}

.l-works__inner {
  padding: 80px 0;
  background-color: #383634;
}

.l-skills {
  background-color: #fff;
}

.l-skills__inner {
  padding: 80px 0;
  text-align: center;
}

.l-contact__inner {
  padding: 80px 20px;
}
@media (min-width: 767px) {
  .l-contact__inner {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.l-contact__copyright {
  padding: 12px 20px;
  color: #fff;
  text-align: center;
}

.c-skills__list {
  margin: 0 auto;
  width: 70%;
}
@media (min-width: 767px) {
  .c-skills__list {
    display: flex;
    gap: 5vw;
    width: 80%;
  }
}

.c-skills__items:first-of-type {
  padding-top: 60px;
}
@media (min-width: 767px) {
  .c-skills__items:first-of-type {
    padding-top: 50px;
  }
}

.c-skills__items {
  display: flex;
  flex-direction: column-reverse;
  padding: 40px 0;
}
@media (min-width: 767px) {
  .c-skills__items {
    width: 33.3333333333%;
    padding-top: 50px;
  }
}

.c-slills__content {
  height: 70%;
  flex-shrink: 0;
  flex-grow: 1;
}
@media (min-width: 767px) {
  .c-slills__content {
    height: 60%;
  }
}

.c-skills__ttl {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
}

.c-skills__text {
  text-align: left;
  line-height: 2;
  word-break: break-all;
}

.c-skills__label {
  display: block;
  counter-increment: label;
}

.c-skills__label::before {
  content: counter(label);
  color: #f1b400;
  display: inline-block;
  margin-left: -1rem;
}

.c-skills__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30%;
  max-height: 100px;
  margin: 0 auto 30px;
  color: #f1b400;
  border: 4px solid;
  border-radius: 50%;
  font-family: "Font Awesome 5 free";
  font-weight: bold;
  font-style: normal;
  font-size: 5rem;
}
@media (min-width: 767px) {
  .c-skills__icon {
    width: 150px;
    height: 40%;
    max-height: 150px;
    font-size: 8rem;
  }
}

select {
  display: block;
  width: 100%;
  padding: 20px 15px;
  border-radius: 4px;
}

input[type=text],
input[type=email],
input[type=tel] {
  display: block;
  width: 100%;
  margin-top: 0.375rem;
  padding: 20px 15px;
  border-radius: 4px;
  border: 1px solid #707070;
}

textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  border-radius: 4px;
}

::-moz-placeholder {
  color: #707070;
}

::placeholder {
  color: #707070;
}

.c-form__heading {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #fff;
  white-space: nowrap;
}

.c-form__btn {
  padding: 1px 14px;
  font-size: 12px;
  background-color: #f1b400;
  color: #fff;
  line-height: 1.67;
  white-space: nowrap;
}
@media (min-width: 767px) {
  .c-form__btn {
    margin-right: 50px;
  }
}

.c-form__itme {
  padding: 20px 0;
  border-bottom: 1px dashed #888;
}
@media (min-width: 767px) {
  .c-form__itme {
    display: flex;
    align-items: center;
  }
}

.c-form__itme02 {
  margin: 50px 0;
  padding: 20px;
  border: 1px solid #888;
}

.c-form__itme:first-of-type:not(fieldset) {
  border-top: 1px dashed #888;
}

.c-form__title > label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
@media (min-width: 767px) {
  .c-form__title > label {
    justify-content: space-between;
  }
}

@media (min-width: 767px) {
  .c-form__title {
    width: 30%;
  }
}

@media (min-width: 767px) {
  .c-form__title._float {
    width: 30%;
    float: left;
  }
}

.c-form__itme._float__wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.c-form__subTitle {
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-weight: bold;
  color: #fff;
}

legend {
  transform: translateY(20px);
}
@media (min-width: 767px) {
  legend {
    transform: translateY(8px);
  }
}

@media (min-width: 767px) {
  .c-form__body {
    width: 70%;
  }
}

@media (min-width: 767px) {
  .c-form__inner {
    width: 48%;
  }
}

.c-form__inner + .c-form__inner {
  margin-top: 0.3rem;
}
@media (min-width: 767px) {
  .c-form__inner + .c-form__inner {
    margin-top: 0;
  }
}

@media (min-width: 767px) {
  .c-form__line {
    display: flex;
    justify-content: space-between;
  }
}

.c-form__selectWrap {
  position: relative;
  cursor: pointer;
}

.c-form__selectWrap::after {
  position: absolute;
  display: block;
  content: "";
  top: -8px;
  right: 2rem;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  border-right: 2px solid #707070;
  border-bottom: 2px solid #707070;
  transform: rotate(45deg);
  pointer-events: none;
}

.c-form__radio {
  display: flex;
}

.c-form__radio > li + li {
  margin-left: 3.375rem;
}

input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

input[type=radio] + span::before,
input[type=checkbox] + span::before {
  content: "";
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  border: 1px solid #888;
  vertical-align: middle;
}

input[type=radio] + span::before {
  margin-right: 0.5rem;
  border-radius: 50%;
}

input[type=checkbox] + span::before {
  margin-right: 1rem;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: none;
}

input[type=radio]:focus + span::before,
input[type=checkbox]:focus + span::before {
  outline: 2px solid #888;
}

input[type=radio] + span::after,
input[type=checkbox] + span::after {
  position: absolute;
  content: "";
  display: none;
}

input[type=radio]:checked + span::after,
input[type=checkbox]:checked + span::after {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  margin: auto;
  top: 0;
  left: 0.24rem;
  bottom: 0;
}

input[type=radio]:checked + span::after {
  border-radius: 50%;
  background-color: #f1b400;
}

input[type=checkbox]:checked + span::after {
  width: 11px;
  height: 24px;
  transform: rotate(45deg) translate(1px, -5px);
  border-right: 4px solid #f1b400;
  border-bottom: 4px solid #f1b400;
}

.c-form__text {
  color: #fff;
  font-size: 12px;
  margin-top: 1rem;
}

.c-form__text02 {
  color: #fff;
  margin-bottom: 20px;
}

.c-form__text02 a {
  color: #f1b400;
  text-decoration: underline;
}

.c-form__text03 {
  color: #fff;
}

.is-error__text {
  display: none;
}

.is-error__text02 {
  display: none;
}

.c-form__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  max-width: 400px;
  background-color: #f1b400;
  color: #fff;
}

.c-form__button:hover,
.c-form__button:focus {
  opacity: 0.7;
}

.c-form__button > span {
  display: block;
  padding: 22px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
}

@media (min-width: 767px) {
  .c-works {
    display: flex;
    flex: 1;
  }
}

.c-works__items {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.c-works__items.--reverse {
  flex-direction: column-reverse;
}

.c-works__content {
  position: relative;
  display: block;
  padding: 3rem;
  line-height: 2;
  text-align: center;
  color: white;
}
@media (min-width: 767px) {
  .c-works__content {
    padding: 0;
    overflow-y: auto;
    aspect-ratio: 5/3;
  }
}

.c-works__link,
.c-works__link {
  position: relative;
  opacity: 0.4;
}

@media (min-width: 767px) {
  .c-works__link::after,
.c-works__link::after {
    font-size: 0rem;
  }
}

.c-works__link:focus,
.c-works__link:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
  z-index: 3;
}

@media (min-width: 767px) {
  .c-works__link:hover::after,
.c-works__link:focus::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    color: #fff;
    font-family: "Montez", cursive;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
  }
}

@media (min-width: 767px) {
  .c-works__link.gallery:hover::after,
.c-works__link.gallery:focus::after {
    content: "GallerySite";
  }
}

@media (min-width: 767px) {
  .c-works__link.event:hover::after,
.c-works__wrapper.event:focus:after {
    content: "EventSite";
  }
}

@media (min-width: 767px) {
  .c-works__link.blog:hover::after,
.c-works__wrapper.blog:focus::after {
    content: "BlogSite";
  }
}

@media (min-width: 767px) {
  .c-works__link.corporate:hover::after,
.c-works__link.corporate:focus::after {
    content: "CorporateSite";
  }
}

.c-works__content::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/lake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  padding: 20px;
  line-height: 2;
  text-align: center;
  z-index: 1;
}
@media (min-width: 767px) {
  .c-works__content::after {
    position: -webkit-sticky;
    position: sticky;
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
  }
}

.c-works__content.gallerySite::after {
  background-image: url(../images/gallery.jpg);
}

.c-works__content.eventSite::after {
  background-image: url(../images/concert.jpg);
}

.c-works__content.blogSite::after {
  background-image: url(../images/blog.jpg);
}

.c-works__content.corporateSite::after {
  background-image: url(../images/building.jpg);
}

.c-works__photo {
  display: none;
}
@media (min-width: 767px) {
  .c-works__photo {
    display: block;
    aspect-ratio: 5/3;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.c-works__title {
  padding-top: 2rem;
}

@media (min-width: 767px) {
  .c-works__text {
    padding: 1rem 1.5rem 1rem;
    text-align: left;
  }
}

.e-tittle01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
}

.e-title01__subtitle {
  width: 100%;
  color: red;
  font-size: 1.7rem;
  letter-spacing: 1px;
  line-height: 2.5;
  text-align: center;
}
@media (min-width: 767px) {
  .e-title01__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
  }
}

.e-title01__subtitle::before,
.e-title01__subtitle::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
}
@media (min-width: 767px) {
  .e-title01__subtitle::before,
.e-title01__subtitle::after {
    width: 140px;
  }
}

@media (min-width: 767px) {
  .e-title01__subtitle::before {
    margin-right: 30px;
  }
}

@media (min-width: 767px) {
  .e-title01__subtitle::after {
    margin-left: 30px;
  }
}

.e-title01__ttl {
  margin-top: 35px;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(158deg, rgb(221, 2, 3) 0%, rgb(251, 137, 2) 20%, rgb(248, 235, 5) 40%, rgb(0, 127, 38) 60%, rgb(5, 75, 249) 80%, rgb(114, 6, 130) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 767px) {
  .e-title01__ttl {
    margin-top: 50px;
    font-size: 7.6rem;
  }
}

.e-tittle02 {
  margin-top: 20px;
  padding-bottom: 15px;
}

.e-tittle02.--works,
.e-tittle02.--form {
  margin-bottom: 50px;
  text-align: center;
}

.e-title02__ttl {
  position: relative;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 15px;
}
@media (min-width: 767px) {
  .e-title02__ttl {
    font-size: 4rem;
  }
}

.e-title02__ttl.--white {
  color: #fff;
}

.e-title02__ttl::before,
.e-title02__ttl::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #999;
}

.e-title02__ttl::before {
  bottom: 0px;
}

.e-title02__ttl::after {
  bottom: 5px;
}

.e-text01 {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
  text-align: center;
}

.e-text02 {
  margin: 30px 0;
  color: #fff;
}

.e-btn__wrapper {
  text-align: center;
}

.e-btn {
  margin: 10px;
  padding: 20px;
  width: 200px;
  background-color: #383634;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.e-btn > a {
  display: block;
}
/*# sourceMappingURL=style.css.map */