@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/**
* *******************************
* ページ全体に関わるcssの設定
@charset "UTF-8";
*********************************/
html {
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
    color: #ddd;
  }
}

* {
  box-sizing: inherit;
  font-size: 16px;
  line-height: 1.7;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Bree Serif", sans-serif;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
picture {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

iframe {
  width: 100%;
  border: none;
}

address {
  font-style: normal;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select {
  border: none;
}

.l-hero {
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-hero__text {
  position: absolute;
  z-index: 2;
}

.l-hero__naveList {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.l-hero__naveLink:hover,
.l-hero__naveLink:focus {
  color: #0bd;
}

.l-hero__naveItem + .l-hero__naveItem::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-right: 1px solid #333;
  transform: rotate(15deg);
}

.l-hero__videoLine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 2px, #fff 2px, #fff 4px);
  z-index: 1;
}
@media (prefers-color-scheme: dark) {
  .l-hero__videoLine {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 2px, #000 2px, #000 4px);
  }
}

.l-hero_video {
  width: 100vw;
  height: 90vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.5;
}

.l-footer__inner {
  margin-bottom: 3rem;
  text-align: center;
}

.c-footerNav__item + .c-footerNav__item::before {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 1rem;
  margin-right: 0.2rem;
  border-right: 1px solid #333;
  transform: rotate(25deg);
}

.c-footerNav__link:hover,
.c-footerNav__link:focus {
  color: #0bd;
}

.c-footerNav__copyright {
  font-size: 0.8rem;
}

.c-grid {
  display: grid;
  width: 94vw;
  margin: 0 auto 3vw;
  grid-template-columns: repeat(2, 46vw);
  grid-template-rows: repeat(8, 46vw);
  gap: 2vw;
}
@media (min-width: 600px) {
  .c-grid {
    display: grid;
    width: 80vw;
    margin: 0 auto 3vw;
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: repeat(5, 26vw);
    gap: 1vw;
  }
}

.c-grid__inner {
  position: relative;
}

.c-grid__inner.--big01 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.c-grid__inner.--big02 {
  grid-column: 1/3;
  grid-row: 6/7;
}
@media (min-width: 600px) {
  .c-grid__inner.--big02 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}

.c-grid__photo {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s;
}

.c-grid__inner:hover,
.c-grid__inner:focus {
  z-index: 3;
}

.c-grid__inner:hover .c-grid__photo,
.c-grid__inner:focus .c-grid__photo {
  transform: scale(1.1);
  filter: none;
  -ms-box-shadow: 10px 10px 51px -10px rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 51px -10px rgba(0, 0, 0, 0.8);
}

.c-grid__inner:hover::after,
.c-grid__inner:focus::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  font-family: "Zen Antique Soft", serif;
}

.c-grid__inner.--v01:hover::after,
.c-grid__inner.--v01:focus::after {
  content: "work 1";
}

.c-grid__inner.--v02:hover::after,
.c-grid__inner.--v02:focus::after {
  content: "work 2";
}

.c-grid__inner.--v03:hover::after,
.c-grid__inner.--v03:focus::after {
  content: "work 3";
}

.c-grid__inner.--v04:hover::after,
.c-grid__inner.--v04:focus::after {
  content: "work 4";
}

.c-grid__inner.--v05:hover::after,
.c-grid__inner.--v05:focus::after {
  content: "work 5";
}

.c-grid__inner.--v06:hover::after,
.c-grid__inner.--v06:focus::after {
  content: "work 6";
}

.c-grid__inner.--v07:hover::after,
.c-grid__inner.--v07:focus::after {
  content: "work 7";
}

.c-grid__inner.--v08:hover::after,
.c-grid__inner.--v08:focus::after {
  content: "work 8";
}

.c-grid__inner.--v09:hover::after,
.c-grid__inner.--v09:focus::after {
  content: "work 9";
}

.c-grid__inner.--v10:hover::after,
.c-grid__inner.--v10:focus::after {
  content: "work 10";
}

.c-grid__inner.--v11:hover::after,
.c-grid__inner.--v11:focus::after {
  content: "work 11";
}

.c-grid__inner.--v12:hover::after,
.c-grid__inner.--v12:focus::after {
  content: "work 12";
}

.c-grid__inner.--v13:hover::after,
.c-grid__inner.--v13:focus::after {
  content: "work 13";
}

.lum-lightbox-inner {
  bottom: 3%;
}

.lum-lightbox-caption {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Zen Antique Soft", serif;
}

.lum-close-button {
  top: 20px;
  right: 20px;
}

.lum-lightbox.lum-open {
  z-index: 4;
}

.c-footerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-title01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.e-title01__ttl {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
}
@media (min-width: 600px) {
  .e-title01__ttl {
    font-size: 5rem;
  }
}

.e-title01__subtitle {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */